body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
}
#main-searchBar {
  padding: 1rem;
  margin: 0 auto;
}
input[type="text"] {
  padding: 10px;
  width: 200px;
  border: 1px solid #b7864b;
  border-radius: 5px;
}
#main-cardCollection {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  width: 800px;
  margin: 1rem auto;
  justify-items: center;
}
.card {
  width: 150px;
  height: 250px;
  border: 2px solid #b7864b;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #b7864b;
}
.card:hover {
  transform: scale(1.2);
  box-shadow: 7px 7px 20px #322725;
}
.pageNumeration {
  margin-top: 20px;
  width: 500px;
  padding: 1rem 0 1rem 0;
  text-align: center;
}
.pageNumeration a {
  margin: 0 5px;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #d3301d;
  border-radius: 5px;
  color: black;
}
.pageNumeration a.active {
  background-color: #87060a;
  color: white;
}

#deck-filter {
  display: flex;
  height: 75px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--secondary-brown),
    var(--primary-brown),
    var(--secondary-brown)
  );
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid var(--primary-gold);
}
.deck-type {
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
#deck-search {
  padding: 10px;
  margin-left: 10px;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid var(--secondary-gold);
}
#deck-manabar {
  padding-right: 20px;
  margin: auto;
}

/* DETAILPAGINA */
/*.detail-main {
  margin: 2rem 0 0 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 3rem;
}
.detail-terugKnop{
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  border: #322725 1px solid;
  text-align: left;
  height: 50px;
}
.detail-titel{
  display: flex;
  width: 300px;
  border: #322725 1px solid;
  height: 75px;
  margin-left: 50%
}
.detail-foto {
  width: 575px;
  height: 650px;
  border: 1px solid #b7864b;
}
.detail-tekst{
  margin-bottom: 2rem;
  display: flex;
}
.detail-opsomming{
  display: flex;
}
.detail-toevoegenDeck {
  background-color: #d3301d;
  color: #fff;
  padding: 10px;
  margin-top: 5rem;
  border: 2px solid #87060a;
  cursor: pointer;
  width: 150px;
  height: 50px;
  grid-column: 2/3;
  border-radius: 10px;
  box-shadow: #87060a 3px 3px 10px;
}*/

.detail-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.detail-terugKnop {
}

.detail-terugKnop:hover {
  background-color: #0056b3;
}

.detail-titel {
}

.detail-foto {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-opsomming {
}

.detail-tekst {
}

.detail-opsomming p {
  margin-bottom: 10px;
}

.detail-toevoegenDeck {
}

.detail-toevoegenDeck:hover {
  background-color: #218838;
}
