@import url("https://fonts.googleapis.com/css2?family=Rye&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  /*Fonts voor Titels, tussentittels*/
  --font-title: "Rye", serif;

  /*Font voor paragraven*/
  --font-p: "Tinos", serif;

  /*Voor buttons*/
  --primary-red: #d3301d;
  --secondary-red: #87060a;

  /*Voor aside achtergrondkleur icons*/
  --primary-brown: #48302e;
  --secondary-brown: #322725;

  /*Accentuatie*/
  --primary-gold: #efcd69;
  --secondary-gold: #b7864b;

  /*Paragraven font sizes*/
  --p-sm: 0.875rem;
  --p-md: 1rem;
  --p-lg: 1.125rem;
  --p-xl: 1.3125rem;

  /*Header font sizes*/
  --h1: 2.5rem;
  --h2: 2.25rem;
  --h3: 2rem;
  --h4: 1.75rem;
  --h5: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
    "Aside Main"
    "Aside Main"
    "Aside Main";
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto auto;
  grid-template-columns: 12% auto;
}

aside {
  grid-area: Aside;
  background-image: radial-gradient(
    circle,
    var(--primary-brown) 0%,
    var(--secondary-brown) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 2px solid;
  border-image: linear-gradient(
      to bottom,
      var(--primary-gold),
      var(--secondary-gold),
      var(--primary-gold),
      var(--secondary-gold)
    )
    2;
}

nav img {
  display: block;
  width: 170px;
  height: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

nav li {
  text-align: center;
  color: white;
  list-style-type: none;
  font-family: var(--font-p);
}
main {
  grid-area: Main;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/homebackground.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  z-index: -1;
}

hr {
  border: none;
  background-color: rgba(153, 153, 153, 0.2);
  margin-top: 1rem;
  height: 2px;
}

#home-header {
  display: flex;
  margin: 1rem 1rem 0rem 3rem;
  backdrop-filter: blur(10px) contrast(80%);
  border-radius: 50px;
  width: 400px;
}

#home-header img {
  width: 100px;
  border-radius: 50px;
  border: 1px solid black;
}

#home-header article {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

#home-header h4 {
  font-family: var(--font-title);
  font-size: var(--h4);
  margin-top: 2rem;
  color: white;
}

/* css deckbuilder page */
#deck-Colection {
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}
#deck-toolBar {
  height: 50px;
  width:auto;
  margin: auto 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.deck-buttons {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.deck {
  border-style: solid;
  border-width: 2px;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
.deck:hover {
  transform: scale(1.1);
}
#deck-filter {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--secondary-brown);
}
.deck-type {
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
#deck-search {
    padding: 10px;
  margin-left: 10px;
  margin-right: auto;
  width: 150px;
  height: 25px;
  border-radius: 15px;
}
#deck-manabar {
  padding-right: 20px;
}
#deck-page{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#White{
    background-image: url(../assets/A_fantasy-style_white_mana_symbol_from_Magic__The__transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Blue{
    background-image: url(../assets/A_fantasy-style_blue_mana_symbol_from_Magic__The_G_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Black{
    background-image: url(../assets/A_fantasy-style_black_mana_symbol_from_Magic__The__transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Red{
    background-image: url(../assets/A_fantasy-style_red_mana_symbol_from_Magic__The_Ga_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Green{
    background-image: url(../assets/A_fantasy-style_green_mana_symbol_from_Magic__The__transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#None{
    background-image: url(../assets/A_fantasy-style_colorless_mana_symbol_from_Magic___transparent\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.add-to-deckcollection{
  position: fixed;
  opacity: 0;
  visibility: hidden;
  padding: 50px;
  border-radius: 15px;
  width: 40%;
  height: 50%;
  top: 25%;
  left: 25%;
  z-index: 10;
  background-color: #322725;
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.color-choise{
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
#add-info-deck{
  gap: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-to-deckcollection.show {
  opacity: 1;
  visibility: visible;
  transform: translate(50%, 50%) scale(1);
}

