@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
        "Aside Main"
        "Aside Main"
        "Aside Main";
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto auto;
    grid-template-columns: 20% auto;
}

main.active, aside.active{
    filter:blur(20px);
    pointer-events: none;
    user-select: none;
    transition: 0.25s -webkit-filter linear;
}

#index-popup-container{
    position:fixed;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 95%;
    height: 100%;
    max-width: 600px;
    max-height: 250px;
    padding: 50px;
    background:#17181c;
    text-align: left;
    opacity: 0;
    transition: 0.5s;
    border-radius: 1em;
    color: #f1f2f4;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#index-popup-container, #index-popup-contents{
    display: flex;
}
#index-popup-container a{
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #111;
    border: 1px solid #F65656;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 18px;
}
#index-popup-container a:hover{
    background-color: rgba(49, 43, 43, 0.9);
    transition: all 0.2s ease-in-out;
}
#index-popup-container h2{
    font-size: 2rem;
}
#index-popup-container.active{
    top:50%;
    opacity: 1;
    transition: 0.5s;
}
#index-popup-icon{
    font-size: 50px;
    color: #F65656;
}
#index-popup-rightitems{
    margin-left: 30px;
}
/* Index Navbar */

.index-navbar {
    background-image: linear-gradient(to bottom, #020024 0%, #090979 35%, #00d4ff 90%);
    color: white;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#icon {
    font-size: 34px;
    margin-bottom: 20px;
    margin-top: 1em;
}

#index-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 30%;
    height: 34%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.form {
    /*background: rgba(255, 255, 255, 0.1);*/
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: transform 0.6s ease-in-out;
    height: 100%;
    justify-content: center;
}

.form label {
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

.form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#index-login {
    transform: translateX(0);
}

#index-register {
    transform: translateX(-100%);
}

.index-h2 {
    margin-bottom: 3%;

}


/*Dit is de paragraaf met erin, de animation starter door op de tekst te drukken*/
.index-switch-animation { 
    text-align: left;
}

.index-switch-animation a {
    color:white;
    text-decoration: underline;
    transition: color 0.2;
}

.index-switch-animation a:hover {
    color: #1574c3;
}


button {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    background-color: #61a1a7;
    border: none;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    margin-top: 29px;
}

button:hover {
    background-color: rgba(97, 161, 167, 0.6);
}

main {
    grid-area: Main;
    background-image: radial-gradient(circle, #4dd8ff 50%, black 100%);
}

/* flickity */

.carousel-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 95%;
    height: 700px;
    border-radius: 15px;
    margin-right: 20px;
    background-size: cover;
    background-position: center center;
    margin-top: 3%;
}

.carousel-cell h1 {
    margin-bottom: 20px;
    font-size: 8rem;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
}

.carousel-cell button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 24px;
    cursor: pointer;
    width: 25%;
    height: 6%;
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;
}

.carousel-cell button:hover {
    background-color: rgba(97, 161, 167, 0.8);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.carousel-cell button a {
    color: white;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}


.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.carousel-nav {
    width: 80%;
    margin: 20px auto;
}

.carousel-nav .carousel-cell {
    width: 120px;
    height: 75px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.carousel-nav .is-selected {
    opacity: 1;
    border: 2px solid white;
}

aside {
    grid-area: Aside;
}