<aside>
    <nav>
        <ul>
            <li>
                <a href="/home"><img src="/assets/mtg.png" alt="mtg"></a>
            </li>
            <li>
                <hr>
                <a href="/drawcard"><img src="/assets/play.png" alt=""></a>
                <p>Speel</p>
            </li>
            <li>
                <hr>
                <a href="/collection"><img src="/assets/collection.png" alt=""></a>
                <p>Collectie</p>
            </li>
            <li>
                <hr>
                <a href="/deckbuilder"><img src="/assets/card.png" alt=""></a>
                <p>Decks</p>
            </li>
        </ul>
    </nav>
</aside>