<aside>
    <nav>
        <ul>
            <li>
                <a href="home.html"><img src="/assets/mtg.png" alt="mtg"></a>
            </li>
            <li>
                <hr>
                <a href="drawcard.html"><img src="/assets/play.png" alt=""></a>
                <p>Speel</p>
            </li>
            <li>
                <hr>
                <a href="collection.html"><img src="/assets/collection.png" alt=""></a>
                <p>Collectie</p>
            </li>
            <li>
                <hr>
                <a href="deckbuilder.html"><img src="/assets/card.png" alt=""></a>
                <p>Decks</p>
            </li>
        </ul>
    </nav>
</aside>