<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collection</title>
    <script src="https://kit.fontawesome.com/7450ea0e8a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="mtk/public/css/mtg.css">
    <link rel="stylesheet" href="mtk/public/css/reset.css">
</head>
<body>
<aside>
    <nav>
        <ul>
            <li>
                <a href="home.html"><img src="mtk/public/assets/mtg.png" alt="mtg"></a>
            </li>
            <li>
                <hr>
                <a href="drawcard.html"><img src="mtk/public/assets/play.png" alt=""></a>
                <p>Speel</p>
            </li>
            <li>
                <hr>
                <a href="collection.html"><img src="mtk/public/assets/collection.png" alt=""></a>
                <p>Collectie</p>
            </li>
            <li>
                <hr>
                <a href="deckbuilder.html"><img src="mtk/public/assets/card.png" alt=""></a>
                <p>Decks</p>
            </li>
        </ul>
    </nav>
</aside>
<main id="main-container">

    <section id="deck-bar">
        <input id="deck-search" type="search" placeholder="search..." />
        <article>
          <button id="White" class="deck-type"></button>
          <button id="Blue" class="deck-type"></button>
          <button id="Black" class="deck-type"></button>
          <button id="Red" class="deck-type"></button>
          <button id="Green" class="deck-type"></button>
          <button id="None" class="deck-type"></button>
        </article>

      </section>

    <section id="main-card-container">
        <article>
            <img src="https://cards.scryfall.io/large/front/6/d/6da045f8-6278-4c84-9d39-025adf0789c1.jpg?1562404626">
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/7/5/757e79f2-23dc-44de-8531-6eb3e2f015f3.jpg?1673308659">
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/7/f/7f04d62a-cad2-4981-bdb8-a7ef3d2dabfd.jpg?1733012237">
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/1/d/1d6d5c4b-01ec-407f-b3b6-854ab5127bdc.jpg?1712354388">
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/0/d/0d0c6527-a82e-4435-b3fd-6f605985c952.jpg?1673562031">
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/5/8/5839556c-6635-44c4-96ed-666e4466b929.jpg?1562786679">
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/3/0/308d4ee7-d188-47e0-b1be-8add6e229356.jpg?1696638273">
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/f/2/f20920ff-ccfe-46a2-9b2e-0dc342f2e057.jpg?1675651289">
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/6/5/657a745d-038e-4cbd-9ffb-2a76009400a7.jpg?1721433793">
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/b/4/b4487bbe-2bc4-48d9-8a6f-9b0c7555fb47.jpg?1674675235">
        </article>

    </section>

    <section class="pages">
        <article>Terug</article>
        <article>Pagina 2</article>
        <article>Volgende</article>
    </section>
</main>
</body>
</html>