<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/7450ea0e8a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/mtg.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>

<body>
<aside>
    <nav>
        <ul>
            <li>
                <a href="home.html"><img src="mtk/public/assets/mtg.png" alt="mtg"></a>
            </li>
            <li>
                <hr>
                <a href="drawcard.html"><img src="mtk/public/assets/play.png" alt=""></a>
                <p>Speel</p>
            </li>
            <li>
                <hr>
                <a href="collection.html"><img src="mtk/public/assets/collection.png" alt=""></a>
                <p>Collectie</p>
            </li>
            <li>
                <hr>
                <a href="deckbuilder.html"><img src="mtk/public/assets/card.png" alt=""></a>
                <p>Decks</p>
            </li>
        </ul>
    </nav>
</aside>
<main id="detail-container">
    <section>
        <article>
            <button>
                Terug
            </button>
        </article>
        <article>
            <img src="https://cards.scryfall.io/large/front/6/d/6da045f8-6278-4c84-9d39-025adf0789c1.jpg?1562404626">
        </article>
    </section>
    <section id="detail-cardinfo">
        <article>
            <h1>Naam Kaart</h1>
        </article>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        <article>
            <ul>
                <li>Detail 1: Lorem Ipsum</li>
                <li>Detail 2: Lorem Ipsum</li>
                <li>Detail 3: Lorem Ipsum</li>
            </ul>
        </article>
        <article>
            <button>
                Toevoegen aan deck
            </button>
        </article>
    </section>
</main>
</body>

</html>