<%- include("partials/header") %>
<body id="dc-body">
<main id="dc-main">
    <section id="dc-dropdown">
        <div class="dropdown">
            <div class="select">
                <span class="selected">Deck 1</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Deck 1</li>
                <li>Deck 2</li>
                <li>Deck 3</li>
                <li>Deck 4</li>
            </ul>
        </div>
    </section>
    <section id="dc-card-track">
        <input type="text" id="deck-name" placeholder="Enter card name" />
        <button id="track-deck">Track</button>
    </section>
    <section id="dc-draw">
        <article>
            <img id="dc-deck" src="/assets/latest.png" alt="MTG Card Back">
        </article>
        <article>
            <button>Trek kaart</button>
        </article>
        <article>
            <img id="dc-card" src="/assets/card1.jpg" alt="card">
        </article>
    </section>
</main>
<%- include("partials/aside") %>
</body>
</html>
