<%- include("partials/header") %>
<body>
<main>
    <section id="drawcard-dropdown">
        <div class="dropdown">
            <div class="select">
                <span class="selected">Deck 1</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Deck 1</li>
                <li>Deck 2</li>
                <li>Deck 3</li>
                <li>Deck 4</li>
            </ul>
        </div>
    </section>
    <section id="drawcard-draw">
        <article>
            <img id="drawcard-deck" src="mtk/public/assets/latest.png" alt="MTG Card Back">
        </article>
        <article>
            <button>Trek kaart</button>
        </article>
        <article>
            <img id="drawcard-card" src="mtk/public/assets/card1.jpg" alt="card">
        </article>
    </section>
</main>
<%- include("partials/aside") %>
</body>
</html>