<%- include("partials/header") %>

    <body>
        <%- include("partials/aside") %>
            <main>
                <div class="background-layer"></div>
                <section id="home-header">
                    <article>
                        <img src="/assets/<%= user?.avatar || 'user.jpg' %>" alt="">

                        <h4>
                            <%= user?.username || "Username" %>
                        </h4>
                    </article>
                    <i id="icon-exit" class="fa-solid fa-right-from-bracket"></i>
                </section>
                <% if (!user?.avatar) { %>
                    <div id="overlay"></div>
                    <section id="ftu-welcome-container" class="popup">
                        <article>
                            <h1><span class="magic-title">Magic The Gathering</span></h1>
                            <h2>Kies een avatar</h2>
                        </article>
                        <article id="ftu-avatars-container">
                            <input type="radio" id="avatar1" name="avatar">
                            <label for="avatar1" class="ftu-avatar"
                                style="background-image: url('../assets/avatar1.png');"></label>
                            <input type="radio" id="avatar2" name="avatar">
                            <label for="avatar2" class="ftu-avatar"
                                style="background-image: url('../assets/avatar2.png');"></label>
                            <input type="radio" id="avatar3" name="avatar">
                            <label for="avatar3" class="ftu-avatar"
                                style="background-image: url('../assets/avatar3.png');"></label>
                            <input type="radio" id="avatar4" name="avatar">
                            <label for="avatar4" class="ftu-avatar"
                                style="background-image: url('../assets/avatar4.png');"></label>
                            <input type="radio" id="avatar5" name="avatar">
                            <label for="avatar5" class="ftu-avatar"
                                style="background-image: url('../assets/avatar5.png');"></label>
                            <input type="radio" id="avatar6" name="avatar">
                            <label for="avatar6" class="ftu-avatar"
                                style="background-image: url('../assets/avatar6.png');"></label>
                        </article>
                        <article id="ftu-form">
                            <h2>Kies een Naam </h2>
                            <form id="ftu-gebruikersnaam" action="#">
                                <input type="text" required>
                                <a href="#"><i id="ftu-play-icon" class="fa-solid fa-gamepad"></i></a>
                            </form>
                        </article>
                    </section>
                    <% } %>
                        <script src="js/home-popup.js"></script>
            </main>
    </body>

    </html>