<%- include("partials/header-home") %>
<body>
<main>
    <div id="main-carousel">
        <div class="carousel-cell" style="background-image: url(/assets/fortnite.jpg);">
        <h1>Fortnite</h1>
            <button class="index-button-play">
                <a href="#" onclick="toggle()">Speel Nu</a>
            </button>
        </div>
        <div class="carousel-cell" style="background-image: url(/assets/LOTR.jpg);">
            <h1>Lord Of The Rings</h1>
            <button class="index-button-play">
                <a href="#" onclick="toggle()">Speel Nu</a>
            </button>
        </div>
        <div class="carousel-cell" style="background-image: url(/assets/Lego.jpg);">
            <h1>Lego</h1>
            <button class="index-button-play">
                <a href="#" onclick="toggle()">Speel Nu</a>
            </button>
        </div>
        <div class="carousel-cell" style="background-image: url(/assets/Magic.jpg);">
            <h1>Magic The Gathering</h1>
            <button class="index-button-play">
                <a href="/home">Speel Nu</a>
            </button>
        </div>
        <div class="carousel-cell" style="background-image: url(/assets/pokemon.jpg);">
            <h1>Pokemon</h1>
            <button class="index-button-play">
                <a href="#" onclick="toggle()">Speel Nu</a>
            </button>
        </div>
        <div class="carousel-cell" style="background-image: url(/assets/fifa.jpg);">
            <h1>Fifa</h1>
            <button class="index-button-play">
                <a href="#" onclick="toggle()">Speel Nu</a>
            </button>
        </div>
    </div>
    <div class="carousel-nav">
        <div class="carousel-cell" style="background-image: url(/assets/fortnite.jpg);"></div>
        <div class="carousel-cell" style="background-image: url(/assets/LOTR.jpg);"></div>
        <div class="carousel-cell" style="background-image: url(/assets/Lego.jpg);"></div>
        <div class="carousel-cell" style="background-image: url(/assets/Magic.jpg);"></div>
        <div class="carousel-cell" style="background-image: url(/assets/pokemon.jpg);"></div>
        <div class="carousel-cell" style="background-image: url(/assets/fifa.jpg);"></div>
    </div>
</main>
<aside class="index-navbar">
    <p id="icon"><i class="fa-solid fa-gamepad"> GameHub</i></p>
    <section id="index-form-wrapper">
        <form id="index-login" class="form" action="#">
            <h2 class="index-h2">Login</h2>
            <label for="Username">Gebruikersnaam</label>
            <input type="text" required>
            <label for="Password">Wachtwoord</label>
            <input type="password" required>
            <button class="index-aside-button">Log in</button>
            <p class="index-switch-animation">Nog geen account? <a id="index-register-a" href="#"><br>Registreer hier.</a></p>
        </form>
        <form id="index-register" class="form" action="#">
            <h2 class="index-h2">Registreer</h2>
            <label for="Username">Gebruikersnaam</label>
            <input type="text" required>
            <label for="Password">Wachtwoord</label>
            <input type="password" required>
            <button class="index-aside-button">Registreer</button>
            <p class="index-switch-animation">Al een account? <a href="#"><br>Log hier in.</a></p>
        </form>
    </section>
</aside>
<div id="index-popup-container">
    <section id="index-popup-contents">
        <i id="index-popup-icon" class="fa-solid fa-triangle-exclamation"></i>
        <section id="index-popup-rightitems">
            <h2>Ooops!</h2>
            <p>Je kan hier niet aan deelnemen, probeer een andere spel.</p>
            <a href="#" onclick="toggle()">Sluit</a>
        </section>
    </section>

</div>
<script src="/js/index-animatie.js"></script>
<script src="/js/blur.js"></script>
</body>

</html>