@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
        "Aside Main"
        "Aside Main"
        "Aside Main";
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto auto;
    grid-template-columns: 20% auto;
}

/*dit is bedoeld voor de popups enkel.*/
main.active, aside.active{
    filter:blur(20px);
    pointer-events: none;
    user-select: none;
    transition: 0.25s -webkit-filter linear;
}

#index-popup-container{
    position:fixed;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 95%;
    height: 100%;
    max-width: 600px;
    max-height: 250px;
    padding: 50px;
    background:#17181c;
    text-align: left;
    opacity: 0;
    transition: 0.5s;
    border-radius: 1em;
    color: #f1f2f4;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#index-popup-container, #index-popup-contents{
    display: flex;
}
#index-popup-container a{
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #111;
    border: 1px solid #F65656;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 18px;
}
#index-popup-container a:hover{
    background-color: rgba(49, 43, 43, 0.9);
    transition: all 0.2s ease-in-out;
}
#index-popup-container h2{
    font-size: 2rem;
}
#index-popup-container.active{
    top:50%;
    opacity: 1;
    transition: 0.5s;
}
#index-popup-icon{
    font-size: 50px;
    color: #F65656;
}
#index-popup-rightitems{
    margin-left: 30px;
}


/* Index Navbar */

.index-navbar {
    background-image: linear-gradient(to bottom, #020024 0%, #090979 35%, #00d4ff 90%);
    color: white;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#icon {
    font-size: 34px;
    margin-bottom: 20px;
    margin-top: 1em;
}

#index-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 30%;
    height: 34%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.form {
    /*background: rgba(255, 255, 255, 0.1);*/
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: transform 0.6s ease-in-out;
    height: 100%;
    justify-content: center;
}

.form label {
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

.form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#index-login {
    transform: translateX(0);
}

#index-register {
    transform: translateX(-100%);
}

.index-h2 {
    margin-bottom: 3%;

}


/*Dit is de paragraaf met erin, de animation starter door op de tekst te drukken*/
.index-switch-animation { 
    text-align: left;
}

.index-switch-animation a {
    color:white;
    text-decoration: underline;
    transition: color 0.2;
}

.index-switch-animation a:hover {
    color: #1574c3;
}


.index-aside-button {
    width: 100%;
    border-radius: 5px;
    background-color: #61a1a7;
    border: none;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}


main {
    grid-area: Main;
    background-image: radial-gradient(circle, #4dd8ff 50%, black 100%);
}

/* flickity */

.carousel-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 95%;
    height: 700px;
    border-radius: 15px;
    margin-right: 20px;
    background-size: cover;
    background-position: center center;
    margin-top: 3%;
}

.carousel-cell h1 {
    margin-bottom: 20px;
    font-size: 8rem;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
}

.carousel-cell button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 24px;
    cursor: pointer;
    width: 25%;
    height: 6%;
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;
}

.carousel-cell button:hover, .index-aside-button:hover {
    background-color: rgba(97, 161, 167, 0.8);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.carousel-cell button a {
    color: white;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}


.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.carousel-nav {
    width: 80%;
    margin: 20px auto;
}

.carousel-nav .carousel-cell {
    width: 120px;
    height: 75px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.carousel-nav .is-selected {
    opacity: 1;
    border: 2px solid white;
}

aside {
    grid-area: Aside;
}

/* FTU.css */

body {
    color:white;
}
/*mtg gekleurd maken*/
.magic-title {
    color: #efcd69; /* Vervang dit met de gewenste kleur */
    font-weight: bold;
}

/* Welkom container */
#ftu-welcome-container {
    width: 60%;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
    border: 2px solid #efcd69;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px) contrast(100%);
    padding: 50px;
    margin: auto;
}

#ftu-welcome-container h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

#ftu-welcome-container p {
    font-size: 18px;
}

/*BLUR*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    z-index: 10;
    display: none;
}
#ftu-welcome-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* Avatar selectie sectie */
#ftu-avatars-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

/* Verborgen checkboxes voor avatars */
#ftu-avatars-container input{
    display: none;
}

/* Avatar styling */
.ftu-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border: 4px solid;
    color: transparent;
}
.ftu-avatar:focus {
    outline: none;
}
.ftu-avatar:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Active geselecteerde avatar styling */
#ftu-avatars-container input:checked + .ftu-avatar {
    border-color: #efcd69; 
    transform: scale(1.15);
}

/*Form styling*/
#ftu-form {
    margin-top: 5%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.index-button-play {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    background-color: #b7864b;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    align-self: center;
}
/*button:hover {
    background-color: rgba(134, 107, 17, 0.6);
}*/

input {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
#ftu-gebruikersnaam {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}
#ftu-play-icon {
    font-size: 50px;
    color: #efcd69;
    border: transparent;
    caret-color: transparent;
}

#ftu-play-icon:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/*exiticon*/
#icon-exit {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
#icon-exit:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

/* Drawcard css */

body{
    cursor: url('../assets/cursor.png'), auto;
}
main {
    background-image: url("../assets/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    width: 88vw;
    height: 100vh;
}

.dropdown {
    width: 55%;
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #d3301d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #87060a;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #d3301d;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #fff;
    position: absolute;
    margin-top: 5px;
    min-width: 15em;
    opacity: 0;
    display: none;
    z-index: 1;
    width: 100%;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #87060a;
}
/* Dit stoort index pagina popup blur, als de popup komt, wordt alles zwart bij index.
.active {
    background: #23242a;
}*/

.menu-open {
    display: block;
    opacity: 1;
}

#drawcard-dropdown {
    padding-top: 5%;
    height: 25vh;
    display: flex;
    justify-content: center;
    margin-right: 68%;
}

#drawcard-draw {
    display: flex;
    flex: 1 1;
}
#drawcard-draw article {
    width: 50%;
    display: flex;
    align-items: center;
}
#drawcard-draw article img{
    display:block;
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin: auto;
}

#drawcard-draw article button{
    background-color: #d3301d;
    display: block;
    margin: auto;
    width: 50%;
    padding: 30px;
    border-radius: 15px;
}
#drawcard-draw article button:hover, .index-aside-button:hover{
    opacity: 0.9;
    cursor: pointer;
}

#drawcard-deck {
    margin-right: 50%;
}